# Dependencias
node_modules/

# Directorios de compilación / salida
dist/
output/
downloads/

# Archivos de logs / temporales
*.log
failed_documents.json

# Archivos de configuración de entorno / editor
.env
.DS_Store
.vscode/
.idea/
